<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
     
    <style type="text/css" media="screen">
        body {
            text-decoration-color: white;
            font-size:7em;
            background-image: url('https://image.shutterstock.com/image-vector/internet-connection-network-high-digital-600w-1575986509.jpg');
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
            color: aliceblue;
        }
        .body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .product {
            color: burlywood;
            text-decoration: none;
        }
    </style>
</head>
 
<body>
    <center>Welcome to E-commerce Website.</center>
    <div class="body">
        <a href="/products" class="product">Click here to Look into the products</a>
    </div>
</body>
 
</html>